/*
 * Copyright © 2025 RTAkland
 * Date: 2025/5/6 23:02
 * Open Source Under Apache-2.0 License
 * https://www.apache.org/licenses/LICENSE-2.0
 */

.description-hr {
    width: calc(100% + 1rem);
    height: 2px;
    background-color: #dbdbdb;
    border: none;
    margin: 0.2rem auto 1rem auto;
}
