/*
 * Copyright © 2025 RTAkland
 * Date: 2025/5/9 19:51
 * Open Source Under Apache-2.0 License
 * https://www.apache.org/licenses/LICENSE-2.0
 */

.dropdown.is-centered .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-item.is-active {
    color: white;
}