/*
 * Copyright © 2025 RTAkland
 * Date: 2025/12/3 17:48
 * Open Source Under Apache-2.0 License
 * https://www.apache.org/licenses/LICENSE-2.0
 */

span {
    white-space: pre;
    display: block;
}

.navbar-app-name-text {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
