/*
 * Copyright © 2025 RTAkland
 * Date: 2025/5/9 21:34
 * Open Source Under Apache-2.0 License
 * https://www.apache.org/licenses/LICENSE-2.0
 */

.path-hover {
    color: black;
    text-decoration: none;
}

.path-hover:hover {
    color: cornflowerblue;
}