/*
 * Copyright © 2025 RTAkland
 * Date: 2025/4/17 00:25
 * Open Source Under Apache-2.0 License
 * https://www.apache.org/licenses/LICENSE-2.0
 */

#regularFile, #regularFolder {
    font-family: monospace;
    white-space: pre;
    font-size: 14px;
}

span {
    white-space: pre;
    display: block;
}

#parentFolder {
    /*color: blue;*/
    font-weight: bold;
    text-decoration: underline;
}

.navbar-app-name-text {
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
