/*
 * Copyright © 2025 RTAkland
 * Date: 2025/5/6 13:34
 * Open Source Under Apache-2.0 License
 * https://www.apache.org/licenses/LICENSE-2.0
 */

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    padding-right: 10px;
    grid-template-rows: auto 1fr auto;
}

.page-footer-icp {
    min-height: 30px;
}
