name: deploy-frontend-to-edgeone

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    env:
      ACTIONS: true
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'adopt'
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Build
        run: ./gradlew replaceDef isDevelopmentModeTask :krepo-frontend:jsBrowserDistribution

      - name: Deploy to EdgeOne Pages
        run: npx edgeone pages deploy ./krepo-frontend/build/dist/js/productionExecutable/ -n krepo -t ${{ secrets.EDGEONE_API_TOKEN }} #  [-e <env>]
        env:
          EDGEONE_API_TOKEN: ${{ secrets.EDGEONE_API_TOKEN }}