name: Deploy to Cloudflare Worker

on:
  push:
    branches:
      - main

jobs:
  deploy:
    env:
      ACTIONS: true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Node.js 20
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Build frontend
        run: ./gradlew replaceDef isDevelopmentModeTask :krepo-frontend:jsBrowserDistribution

      - name: Install Wrangler CLI
        run: npm install -g wrangler

      - name: Deploy Worker with Wrangler Action
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          workingDirectory: ./krepo-frontend/build/dist/js/productionExecutable/
